<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
    </head>
    <body>
    <h2>Create Event</h2>
        <form method="post" action="/create_event">
            <% if(typeof(errorMessage) !== 'undefined') {%>
            <span><%= errorMessage %></span>
            <% } %>
            <p>
                <label for="name">Event Name</label>
            </p>
            <p>
                <label for="description">Description</label>

            </p>
            <p>
                <label for="address_line1">Address Line 1</label>

            </p>
            <p>
                <label for="address_line2">Address Line 2</label>

            </p>
            <p>
                <label for="city">City</label>

            </p>
            <p>
                <label for="state">State</label>

            </p>
            <p>
                <label for="event_start">Event Start</label>

            </p>
            <p>
                <label for="event_end">Event End</label>

            </p>
            <p>
                <label for="category_name">Category</label>

            </p>
            <p>
                <input type="submit" name="create_event" id="createNewEvent" value="Create New Event"/>
            </p>
        </form>
    </body>
</html>