<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
    </head>
    <body>
			<p>
                <label for="name">Event Name: </label>
    			<label name="Event Name"><%= event.NAME %></label>
            </p>
            <p>
                <label for="description">Description</label>
                <label name="Description"><%= event.Description %></label>
            </p>
            <p>
                <label for="address_line1">Address Line 1</label>
       
            </p>
            <p>
                <label for="address_line2">Address Line 2</label>

            </p>
            <p>
                <label for="city">City</label>

            </p>
            <p>
                <label for="state">State</label>

            </p>
            <p>
                <label for="event_start">Event Start</label>
           
            </p>
            <p>
                <label for="event_end">Event End</label>
                
            </p>
            <p>
                <label for="category_name">Category</label>
      
            </p>

    </body>
</html>
